.root{
    -fx-background-color: #262626;
}

.table-view{
   -fx-background-color: transparent;
   -fx-border-color: white;
   -fx-border-width: 5px;
   -fx-font-size: 15px;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #E6E6FA;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #DDA0DD;
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0em;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #E6E6FA;
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0em;  
}

.table-row-cell: hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}

.table-row-cell:selected {
    -fx-background-color: #191970;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.fancy-button {
  -fx-background-color: red;
  -fx-text-fill: white;
  -fx-pref-width: 75px;
  -fx-background-radius: 25px;
  -fx-font-weight: bold;
  -fx-font-size: 14px;
}

.fancy-button:hover {
  -fx-background-color: white;
  -fx-text-fill: red;
}

.fancy-button:pressed {
  -fx-background-color: #e8dcdc;
  -fx-text-fill: #b62020;
}